flask==3.0.0
flask-cors==4.0.0
gunicorn==21.2.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
mediapipe==0.10.32
absl-py>=1.4.0
attrs>=25.4.0
flatbuffers>=25.12.19
matplotlib>=3.10.0
protobuf>=4.25.3
