flask==3.0.0
flask-cors==4.0.0
gunicorn==21.2.0
numpy==1.26.4
opencv-python==4.9.0.80
mediapipe==0.10.21
absl-py==1.4.0
attrs==25.4.0
flatbuffers==25.12.19
jax==0.7.1
jaxlib==0.7.1
matplotlib==3.10.0
opencv-contrib-python==4.11.0.86
sounddevice==0.5.5
sentencepiece==0.2.1
protobuf==4.25.3
